@model IEnumerable<IronDome.Models.Threat>

@{
    ViewData["Title"] = "DeffenceArea";
}

<h1>DeffenceArea</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                Details
            </th>
            <th>
                @Html.DisplayNameFor(model => model.status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fire_at)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.response_time)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
                <td>
                    <span>@(item.Org.name), @(item.type.name)</span>
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fire_at)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.response_time)
            </td>
            @if(item.status == IronDome.Utils.ThreatStatus.Active)
                {
                    <td>
                        @Html.ActionLink("Iron Dome", "Intercept", new { tid=item.Id, did=1}) |
                        @Html.ActionLink("Patriot", "Intercept", new { tid=item.Id, did=2})
                    </td>
                }
                else
                {
                    <td>
                        <span>No available action at the time</span>
                    </td>

                }
            </tr>
}
    </tbody>
</table>
